@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row bg-white px-4">
        <a href="https://github.com/blazknuplez/Susmeter" style="font-size: 2rem;"><i class="fab fa-github"></i></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
